.team {
   background-color: $section-comand;
}

.team__list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;

   margin-left: auto;
   margin-right: auto;
   padding: 0;
}

.team__item {
   border-radius: 0px 0px 4px 4px;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
   0px 2px 1px rgba(0, 0, 0, 0.2);
   
   font-size: 16px;
   line-height: 1.18;
   text-align: center;

   background-color: $main-white-color;

   @media (min-width: 768px) {
      width: calc((100% - 30px) / 2);
   }

   @media (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
   }
}

.team__container {
   padding-top: 30px;
   padding-bottom: 24px;
}

.team__thumb {
   display: block;
   max-width: 100%;
   height: auto;
   margin: 0;
}

.team__title {
   margin-bottom: 10px;

   font-weight: $fw-500;
   font-size: $fs-16;
   line-height: 1.19;
   letter-spacing: 0.03em;
   text-align: center;

   color: $title-text-color;
}

.team__text {
   margin-top: 10px;
   margin-bottom: 16px;
}